.about__container {
  display: flex;
  margin-top: 130px;
}

.about__desc {
  font-weight: 600;
  margin-bottom: 20px;
}

.about__title {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 30px;
  color: $text-color;
}

.about__content {
  flex: 1;
}

.about__user{
    width:35%;
}
