.socials {
  display: flex;

  .round{
    padding-top:40px;
  }
}

.socials__icon {
  width: 25px;
  height: 25px;
  fill: rgba(255, 255, 255, 0.4)
}

.socials__icon:hover{
  fill: $text-color;
}

.socials__item {
  margin-right: 30px;

  &:last-child {
    margin: 0;
  }
}


@media (max-width: 320px) {

  .socials{
    display: none;
  }
}
