.userInfo {
  display: flex;
  margin-left: 350px;
  padding-top:130px;
  &__title {
    font-size: 18px;
    margin-right: 68px;
    font-weight: 600;
    text-align: right;
    color:rgba(255, 255, 255, 0.5);
  }
  &__name {
    font-size: 72px;
    font-weight: 800;
    line-height:72px;
  }
}
